.table-orange-color{
    background-color: #F6BA81 !important;
}

.table-header-text{
    background-color: #F6BA81;
}

.navbar-background-color{
    background-color:  #F3DEBA;
    border-radius: 20px;
}

.beige-background-color{
    background-color:  #F3DEBA !important;
}

.search-bar{
    border: 1px solid #1c365e !important;
}

.search-bar::placeholder{
    color: #1c365e !important;
}

.connection-card{
    background-color: #F6BA81;

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;*/
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
}

.modal-dialog > .modal-content{
    background-color: #1C365E;
}
