.background_image{
    /* color: var(--chakra-colors-gray-800); */
    /* background-repeat: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ; */
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
    background-image: url('../img/background-body-admin.05c0b5b9.png');
    background-size: cover;
}

.top_pannel{
    padding-bottom:40px ;
}

.user-pannel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-card{
    flex-direction: column;
}

#suggestion_text_box{
    width: 100%;
    height: auto;
    color: white;
}
.prompt-suggestion{
    height: 40%;
}
.prompt-text{
    font-size: small;
}
.sign-out-btn{
    background-color: rgb(210, 102, 34);
}
.navbar>.container-fluid{
    display:flex;
flex-direction: row-reverse;

}
#nav-toggle{
    background-color: rgb(28, 31, 54);
    border-radius: 0 8px 8px 0 !important;
}
#nav-toggle-icon{
    color: rgb(210, 102, 34);
}
.sidenav:hover{
    transition: none !important;
    transform: none !important;
}
.sidenav-header:hover {
    transition: none !important;
    transform: none !important;
}
aside:hover {
    transition: none !important;
    transform: none !important;
}





@media (max-width: 575px) {
    /* .avatar-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .fs-15px{
        font-size: 15px;
    }
    .fs-13px{
        font-size: 13px;
    }
    .fs-10px{
        font-size: 10px;
    }

    .fs-7px{
        font-size: 7px;
    }
    .fs-5px{
        font-size: 5px;
    }
    .fs-3px{
        font-size: 3px;
    }
    .fs-2px{
        font-size: 2px;
    }
    #suggestion_text_box{
        display: none !important;
    
    }
    .chatbox-input{
        
    }
    .navbar>.container-fluid{
    flex-direction: row;
    }
    #nav-toggle{

        
    }

  }
  
  /* tablet view */
  @media (min-width: 576px) and (max-width: 767px) { 
    .features-card{
        flex-direction: row ; 
        justify-content:end;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .features-card{
        flex-direction: row ; 
        justify-content:space-around;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    
   
  }










