.background_image {
    /* color: var(--chakra-colors-gray-800); */
    /* background-repeat: ;
    background-attachment: ;
    background-origin: ;
    background-clip: ;
    background-color: ; */
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
    background-image: url('../img/background-body-admin.05c0b5b9.png');
    background-size: cover;
}
.password-eye{
    /* color: #f2661c !important; */
}

.top_pannel {
    padding-bottom: 40px;
}
.btn-orange{
    background-color: rgb(210, 103, 34) !important;
}

.user-pannel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-card {
    flex-direction: column;
}

#suggestion_text_box {
    width: 100%;
    /* height: auto; */
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.prompt-suggestion {
    background-color: rgb(18, 20, 57);
    /* padding: 20px 10px; */
}

 .prompt-text, .responsive-text {
    /* font-size: small; */
}
.card{
    height:auto;
    text-wrap: wrap;
    word-wrap: break-word;


}

.sign-out-btn {
    background-color: rgb(210, 102, 34);
}

.navbar > .container-fluid {
    display: flex;
    flex-direction: row-reverse;

}

#nav-toggle {
    background-color: rgb(210, 102, 34);
    border-radius: 0 8px 8px 0 !important;
}

#nav-toggle-icon {
    color: #ffffff !important;
    font-size: 25px;
}

.modal-close-btn {
    background: #f2661c;
    border: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
    float:right;
    border-radius: 3px;
    padding: 0px 10px 1px 10px;
}

.primaryColor{
    color: #f2661c;
}

.slider-padding {
    padding: 10px 80px 10px 80px;
    text-align: justify;
    color: white;
}

video.slider-padding {
    width: 100% !important;
    height: auto !important;
}

p.slider-padding {
    padding-bottom: 0px;

}

ul.slider-padding {
    text-align: start;
}

@media (max-width: 575px) {
    .slider-padding {
        padding: 10px 0;

    }

    img.carousel-image {
        min-width: 200px;
        height: 70px;
    }

    p.slider-padding {
        padding: 0;

    }

    img.ult-img {
        min-width: 200px;
        height: 70px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .slider-padding {
        padding: 10px 50px;
    }
}

@media (min-width: 390px) and (max-width: 768px) {
    .introAssessmentMargin {
        padding-left: 10%;
    }
    .introAssessmentLogo
    {
        margin-top: 0px;
    }
}


@media (min-width: 768px) and (max-width: 2560px) {
    .introAssessmentMargin {
        padding-left: 10%;
    }
    .introAssessmentLogo
    {
        padding-top: 20%;
    }
}

.form-check-input:checked[type="checkbox"] {
    background-image: linear-gradient(310deg, #f2661c 0%, #f2661c 100%);
}

.greenBox
{
    background-color: green !important;
}
.redBox
{
    background-color: red !important;
}
.lightGreenBox
{
    background-color: yellow !important;
    color: black !important;
    font-weight: bold !important;
}
.border-green
{
    border: 2px solid green !important;
}
.sidenav:hover {
    transition: none !important;
    transform: none !important;
}

.sidenav-header:hover {
    transition: none !important;
    transform: none !important;
}

aside:hover {
    transition: none !important;
    transform: none !important;
}

.modal-body {

}

.modal-body video {
    width: 100%;
    height: auto;
}

.modal-content {
    margin-top: 100px;
}

.remove-scrollbar {
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.remove-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
#remove-scrollbar-nav {
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#remove-scrollbar-nav::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#chatbox-content {
    /* height: 20px; */

}

/**/
.animated-number {
    opacity: 0;                  /* Initially hidden */
    position: relative;           /* To allow left/right movement */
    font-size: 2rem;              /* Example font size */
    animation: moveLeftRight 2s ease-in-out 5;  /* Loop movement */
    transition: opacity 1s ease;  /* Smooth fade-in effect */
    animation-play-state: paused; /* Initially paused */
    pointer-events: none;         /* Disable pointer events (optional) */
  }

  /* Delay fade-in after 3s */
  .animated-number.fade-in {
    opacity: 1;
    transition-delay: 3s;
    animation-play-state: running; /* Start movement after fade-in */
  }

  /* Keyframes for left-right movement */
  @keyframes moveLeftRight {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }
  }

  /* Keyframes for disappearing after 5 seconds */
  @keyframes disappear {
    0%, 90% { opacity: 1; } /* Stay visible until near the end */
    100% { opacity: 0; }    /* Fade out at the end */
  }

  .animated-number.disappear {
    animation: disappear 2s ease forwards;
    animation-delay: none; /* Disappear after the total delay and movement (3s + 5s) */
  }

  .total-points{
    font-size: 40px;
  }

/**/


@media (max-width: 575px) {
    /* .avatar-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    .fs-15px {
        font-size: 15px;
    }

    .fs-13px {
        font-size: 13px;
    }

    .fs-10px {
        font-size: 10px;
    }

    .fs-7px {
        font-size: 7px;
    }

    .fs-5px {
        font-size: 5px !important;
    }

    .fs-3px {
        font-size: 3px;
    }

    .fs-2px {
        font-size: 2px;
    }

    #suggestion_text_box {
        /* display: none !important; */

    }

    .navbar > .container-fluid {
        flex-direction: row;
    }

    .main-post-section button {

        font-size: 7px;
        font-weight: 900;
        padding: 10px 10px;
    }

    .d1 .d2 {

        width: 100%;
    }
    .card{
        height:auto !important;
    }
     .prompt-text{
        font-size: 7px !important;
    }
     .responsive-text{
        font-size: 12px !important;
    }


}

/* tablet view */
@media (min-width: 576px) and (max-width: 767px) {
    .features-card {
        flex-direction: row;
        justify-content: end;
    }
    .fs-5px {
        font-size: 5px !important;
    }
    .fs-7px {
        font-size: 7px !important;
    }
    .card{
        height:auto;
    }
     .prompt-text{
        font-size: 10px !important;
    }
     .responsive-text{
        font-size: 13px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .features-card {
        flex-direction: row;
        justify-content: space-around;

    }
    .fs-7px {
        font-size: 7px !important;
    }
    .card{
        height:auto;
    }
     .prompt-text {
        font-size: 10px !important;
    }
      .responsive-text{
        font-size: 15px !important;
    }

}

@media (min-width: 992px)  {
    .card{
        height:auto;
    }
    .fs-12px {
        font-size: 12px;
    }


    .fs-7px {
        font-size: 7px;
    }

     .prompt-text {
        font-size: 13px !important;
    }
     .responsive-text {
        font-size: 13px !important;
    }


}


.daily-tip-card{
    background: #8BB1AB !important;
    border-radius: 0 !important;
}
.library-card{
    background: #2E9CA8 !important;
    border-radius: 0 !important;
}
.core-state-card{
    background:  #F6BA81 !important;
    border-radius: 0 !important;
}
.help-challenge-card{
    background: #ED7537 !important;
    border-radius: 0 !important;
}
.optimization-strategy-card{
    background: #1C365E !important;
    border-radius: 0 !important;
}

.podcast-card{
    background:  #FFFFFF !important;
    border-radius: 0 !important;
}

.body-background{
    background:  #F3DEBA ;
}
/*.assessment-intro-background{*/
/*    background:  #1C365E !important;*/
/*}*/
.left-nav-background{
    background: linear-gradient(to bottom, #1C365E 85%, #90a2bd) !important;

}
.optimization-strategy-card > div > h3{
    color:white !important;
    border-radius: 0 !important;
}

.pricing-freemium-card{
    background: #8BB1AB !important;
}
.pricing-core-card{
    background: #F6BA81 !important;
}
.pricing-premium-card{
    background: #ED7537 !important;
}
.background-none{
    background:none !important;
}
.setting-box-background{
    background: #8BB1AB !important;
}

.custom-text-dark{
    color: #193862 !important;
}

.rainbow-border-assessment-intro-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(#1C365E, #1C365E), linear-gradient(90deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    cursor: pointer;
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0;
}

.rainbow-border-assessment-intro-btn:hover {
    animation: changeAssessmentIntroGradient 1s linear;
    color: white;
}

@keyframes changeAssessmentIntroGradient {
    from {
        background-image: linear-gradient(#1C365E, #1C365E), linear-gradient(90deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    }

    to {
        background-image: linear-gradient(#1C365E, #1C365E), linear-gradient(135deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    }
}



.rainbow-border-user-nav-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: black !important;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(#F3DEBA, #F3DEBA), linear-gradient(90deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    cursor: pointer;
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0;
}

.rainbow-border-user-nav-btn:hover {
    animation: changeUserNavGradient 1s linear;
    color: black !important;
}

@keyframes changeUserNavGradient {
    from {
        background-image: linear-gradient(#F3DEBA, #F3DEBA), linear-gradient(90deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    }

    to {
        background-image: linear-gradient(#F3DEBA, #F3DEBA), linear-gradient(135deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    }
}


.rainbow-border-user-connect-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: black !important;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(#F6BA81,#F6BA81), linear-gradient(90deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    cursor: pointer;
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0;
}

.rainbow-border-user-connect-btn:hover {
    animation: changeUserConnectGradient 1s linear;
    color: black !important;
}

@keyframes changeUserConnectGradient {
    from {
        background-image: linear-gradient(#F6BA81,#F6BA81), linear-gradient(90deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    }

    to {
        background-image: linear-gradient(#F6BA81,#F6BA81), linear-gradient(135deg, rgb(146, 11, 11), orange, yellow, rgb(22, 200, 22), rgb(0, 238, 255), rgb(26, 58, 222), rgb(4, 19, 113));
    }
}







